
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherBot - AI Assistant for Educators</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='homeheader.css')}}">
    
</head>
<body>
    <header>
        <nav class="container">
            <a href="#" class="logo">
                <span></span> EduBot
            </a>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="{{ url_for('index') }}">Login/Signup</a></li>
            </ul>
        </nav>
    </header>